.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("./Image/background.jpg");
  background-size: cover;
  color: rgb(215, 218, 227);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.low-in-stock {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.loading-image-cover {
  display: flex;
  justify-content: center;
  align-items: center;

}

.loading-left {
  margin-top: 10px;
  background-image: url(./Image/loading.gif);
  background-size: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 98%;
  width: 100%;
}

.loading-font{
  font-size: 20px;
}

.loading-right {
  margin-top: 10px;
  background-image: url(./Image/loading.gif);
  background-size: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 2%;
  width: 100%;
}

.stock-alert{
  height: 70px;
}

.goods-search{
  margin-bottom: 10px;
}